<nav class="navbar navbar-light navbar-toggleable-md" style="background-color: #FFFFFF;">
	<div class="container">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleContainer" aria-controls="navbarsExampleContainer" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="lobby">
			<img src="/assets/gnome_chess.png" width="30" height="30" class="d-inline-block align-top" alt="">
			Chess
		</a>

		<div class="collapse navbar-collapse" id="navbarsExampleContainer">
		  	<ul class="navbar-nav mr-auto">
			    <li [routerLinkActive]="['active']" class="nav-item" [routerLinkActiveOptions]="{exact:true}">
			      <a [routerLink]="['/lobby']" class="nav-link" href="about">Lobby<span class="sr-only">(current)</span></a>
			    </li>
			    <li [routerLinkActive]="['active']" class="nav-item" [routerLinkActiveOptions]="{exact:true}">
			      <a [routerLink]="['/records']" class="nav-link" href="portfolio">Records</a>
			    </li>
			    <li [routerLinkActive]="['active']" class="nav-item" [routerLinkActiveOptions]="{exact:true}">
			      <a [routerLink]="['/game']" class="nav-link" href="blog">Game</a>
			    </li>
		  	</ul>
		  	<ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']">Logout</a>
                </li>
            </ul>
		</div>
	</div>
</nav>